.SearchMenssagem{
    position: fixed;
    bottom: 20px;
    left: 43%;
    right: 2%;
    border-radius: 25px;
    background-color: #ddddff;
    border: none;
    
}
.emoji{
    /* padding-bottom: 200px; */
    /* height: 700px; */
    
}


.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    position: relative;
    overflow-y: scroll ;
    height: 600px;
    border: none;
    width: 100%;
    transform:rotateX(180deg);
    -moz-transform:rotateX(180deg); /* Mozilla */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    -ms-transform:rotateX(180deg); /* IE 9+ */
    -o-transform:rotateX(180deg); /* Opera */
}
.sub{
    transform:rotateX(180deg);
    -moz-transform:rotateX(180deg); /* Mozilla */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    -ms-transform:rotateX(180deg); /* IE 9+ */
    -o-transform:rotateX(180deg); /* Opera */
}