
.listaDeMensagensRight{
   display: flex;
   justify-content: flex-end;
   width: 100%;
}
.listaDeMensagemLeft{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.item{
    display: flex;
    width: 58%;
    align-items: flex-end;
}
.mensagemBodyEmissor{
    color: white;
    background-color: #8ff87d;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
}
.mensagemBodyReceptor{
    color: white;
    background-color: #11a8ff;
    padding: 10px 15px;
    border-radius: 10px;
}
.listAbasDeMensagem{
    padding-bottom:0px;
    height: 0%;
}

@media (max-width:779px) {
    .item{
        display: flex;
        width: 100%;
        align-items: flex-end;
    }
}