
.navBarColuna2{
    overflow-y: scroll;
    height: 63vh;
}
.navBarColuna2Bottom{
    display: none;
}
.ArrowBackIosNewIcon{
    display: none;
}
.layoutResponsivo{
    display: none;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    
    justify-content: center;
    align-items: center;
    padding: 40px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.avatarHeader{
    width: 50px;
    border-radius: 50%;
}
.headerUsuarioItem{
    display: flex;
    align-items: center;
}
.headerUsuarioTitle{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.bodyContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.bodyContainer{
    padding: 30px;
}
.usuarioItens{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    cursor: pointer;
    margin: 10px 20px;
    padding: 5px;
}
.usuarioItens:hover{
    background-color: aquamarine;
}
.mensagemUsuario{
    background-color: rgb(116, 255, 188);
    padding: 5px;
    border-radius: 5px;
    margin: 5px 3px;
}
.mensagemReceptor{
    background-color: rgb(234, 255, 248);   
    padding: 5px;
    border-radius: 5px;
    margin: 5px 3px;
}
.mensagemBody{
    display: flex;
}
@media (max-width:779px) {
    .loginContainer{
       
        width: 100%;
       padding: 4px;
    }
    .layoutResponsivo{
        display: block;
    }
    .layoutDesktop{
        display: none;
    }
    #col3{
        padding: 0px;
    }
    #coluna_1{
        display: none;
    }
    .navBarColuna2{
        height:420px;
        
    }
    .displayNone{
        display: none;
    }
    .navBarColuna2Bottom{
       display: flex;
       margin-top: 30px;
    }
    .colunaVisivel{
       margin-left: -100vw;
       transition: 0.2s;
    }
    .colunaInvisivel{
        display: none;
    }
    .ArrowBackIosNewIcon{
        display: block;

        margin-left: -30px;
        margin-right: 10px;
    }
}